.header {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  background-color: #073042;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.header__nav {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link:hover {
  height: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 520px) {
  .header {
    padding: 0 14px;
    font-size: 10px;
    line-height: 16px;
  }
}